html {
    font-family: "Oranienbaum";
    font-size: 30px;

}

.container {
    width: 1000px;

}
 
@media (max-width: 1000px) {
    .container {
        padding: 0 5%;
    }
}

a,
nav,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Kaushan Script";
}